.container {
  text-align: center;
  border: 1px solid #ccc;
}

/* .home-container {
border: 1px solid red;
margin-left: 100px;
margin-right: 100px;
margin-top: 25px;
}

.skills-container {
border: 1px solid red;
margin-left: 100px;
margin-right: 100px;
margin-top: 25px;
}

.projects-container {
border: 1px solid red;
margin-left: 100px;
margin-right: 100px;
margin-top: 25px;
}

.about-container {
border: 1px solid red;
margin-left: 100px;
margin-right: 100px;
margin-top: 25px;
}

.contact-container {
border: 1px solid red;
margin-left: 100px;
margin-right: 100px;
margin-top: 25px;
} */

.container, .home-container, .skills-container, .projects-container, .about-container, .contact-container {
  min-height: 100vh;
  text-align: center;
  border: 1px solid #ccc;
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 25px;
}

/*Centers the content vertically in each container (below code)*/

/* .container, .home-container, .skills-container, .projects-container, .about-container, .contact-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
} */

.skills-list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px; 
}

.skill {
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 20px;
}
