.container {
  text-align: center;
  border: 1px solid #ccc;
}

.home-container {
border: 1px solid red;
margin-left: 100px;
margin-right: 100px;
margin-top: 25px;
}

.skills-container {
border: 1px solid red;
margin-left: 100px;
margin-right: 100px;
margin-top: 25px;
}

.projects-container {
border: 1px solid red;
margin-left: 100px;
margin-right: 100px;
margin-top: 25px;
}

.about-container {
border: 1px solid red;
margin-left: 100px;
margin-right: 100px;
margin-top: 25px;
}

.contact-container {
border: 1px solid red;
margin-left: 100px;
margin-right: 100px;
margin-top: 25px;
}

.skills-list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px; /* Adjust the spacing between skills as needed */
}

.skill {
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 20px;
}
