@import url('https://fonts.googleapis.com/css2?family=Allerta+Stencil&family=Fredericka+the+Great&family=Rampart+One&display=swap');

body {
  background-color: skyblue;
        font-family: 'Fredericka the Great', cursive;
      color: white;
    
}

h1 {
    color: whitesmoke;
}

p {
  color: whitesmoke;
}


